POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
JWT_SECRET=rvB4NTMMi0PeVsP3Xwomj87VOMdJDyiityvYQiNmx6vWv0R4tADQVbOisIzG4e4x
GMAIL=tristanbiny.lod@gmail.com
GMAIL_PASSWORD=olydlosuugmayvuj

# API
API_PORT=8080

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080