API_HOST=localhost
API_PORT=8080
POSTGRES_USER=tgallet
POSTGRES_PASSWORD=supermotdepasse
POSTGRES_DB=myappdb
JWT_SECRET=rvB4NTMMi0PeVsP3Xwom
GMAIL_ADDRESS=tristanbiny.lod@gmail.com
GMAIL_PASSWORD=fjtsemuidbjwncpi
KEYPATH=./secret/private.pem

# API
API_PORT=8080

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8080

# GMAIL_PASSWORD=jfnqcgyeruasxnhk
ORIGINS=http://localhost:3000,https://localhost:3000,http://localhost:3001,https://localhost:3001
