# ========================
# Infrastructure
# ========================

# --- API Server (Backend) for frontend and game server
API_PROTOCOL=https
API_HOST=localhost:4443

# --- Frontend (Next.js) for api origins
FRONT_HOST=localhost:4443

# --- Game Server (WebSocket) for web client to connect
GAME_SERVER_PROTOCOL=wss
GAME_SERVER_HOST=localhost:4443

# --- Database (PostgreSQL)
DB_PORT=5432
DB_HOST=db #only used by backend

# ========================
# Database Credentials
# ========================
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=myappdb

# ========================
# API Server Security
# ========================
KEYPATH=/run/secret/private.pem
CREDENTIAL=rvB4NTMMi0PeVsP3Xwom
FORTYTWO_CLIENT_ID=u-s4t2ud-b7e5f75c54b2d77aa7e56aea4238640a0b37afa0521e8c183cbfcdde290d80f5
FORTYTWO_CLIENT_SECRET=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
FORTYTWO_REDIRECT_URI=https://localhost/api/auth/42/callback

# --- Mail Service (Gmail)
GMAIL_ADDRESS=tristanbiny.lod@gmail.com
GMAIL_PASSWORD=fjtsemuidbjwncpi

# ========================
# Cookies (Frontend Domain)
# ========================
# Use "localhost" for local development without Domain attribute
COOKIE_DOMAIN=localhost:4443

# ========================
# Game Server
# ========================
LOBBY_CONFIG=one_game
