# ========================
# Infrastructure
# ========================

# --- API Server (Backend) for frontend and game server
API_PROTOCOL=http
API_HOST=localhost

# --- Frontend (Next.js) for api origins
FRONT_HOST=localhost

# --- Game Server (WebSocket) for web client to connect
GAME_SERVER_PROTOCOL=ws
GAME_SERVER_HOST=localhost

# --- Database (PostgreSQL)
DB_PORT=5432
DB_HOST=db #only used by backend

# ========================
# Database Credentials
# ========================
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=myappdb

# ========================
# API Server Security
# ========================
KEYPATH=./secret/private.pem
CREDENTIAL=rvB4NTMMi0PeVsP3Xwom
FORTYTWO_CLIENT_ID=
FORTYTWO_CLIENT_SECRET=
FORTYTWO_REDIRECT_URI=

# --- Mail Service (Gmail)
GMAIL_ADDRESS=tristanbiny.lod@gmail.com
GMAIL_PASSWORD=fjtsemuidbjwncpi

# ========================
# Cookies (Frontend Domain)
# ========================
# Use "localhost" for local development without Domain attribute
COOKIE_DOMAIN=localhost

# ========================
# Game Server
# ========================
LOBBY_CONFIG=one_game
