# ========================
# Infrastructure
# ========================

# --- API Server (Backend) for frontend and game server
API_PROTOCOL=https
API_HOST=api.domain.com

# --- Frontend (Next.js) for api origins
FRONT_HOST=front.domain.com

# --- Game Server (WebSocket) for web client to connect
GAME_SERVER_PROTOCOL=wss
GAME_SERVER_HOST=ws.domain.com

# --- Database (PostgreSQL)
DB_PORT=5432
DB_HOST=db #only used by backend

# ========================
# Database Credentials
# ========================
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=myappdb

# ========================
# API Server Security
# ========================
JWT_SECRET=your_jwt_secret_here # openssl rand -hex 32
KEYPATH=./secret/private.pem

# --- Mail Service (Gmail)
GMAIL_ADDRESS=tristanbiny.lod@gmail.com
GMAIL_PASSWORD=fjtsemuidbjwncpi

# ========================
# Cookies (Frontend Domain)
# ========================
# Use parent domain (cookie works on all subdomains)
COOKIE_DOMAIN=domain.com

# ========================
# Game Server
# ========================
LOBBY_CONFIG=one_game
