# Environment files
.env
.env.local
.env.*.local

# Front dependencies
front/node_modules
front/.pnp
front/.pnp.*
front/bun.lock.bak
front/bun.lock
front/package-lock.json
# Front build
front/.next/
front/out/
front/build/
front/dist/
front/.env
front/node_modules
# OS
front/.DS_Store
.DS_Store
front/*.pem

#server
server/node_modules
server/.pnp
server/.pnp.*
server/bun.lock.bak
server/bun.lock
server/package-lock.json

# IDE
.vscode
.idea
*.swp
*.swo

# Vercel
front/.vercel

# TypeScript
front/*.tsbuildinfo
front/next-env.d.ts
front/tsconfig.tsbuildinfo


# Docker volumes
postgres_data/

# Turbo
.turbo
.turborepo
.env
.gitignore
secret
.TODO
node_modules
