# Environment files
.env
.env.local
.env.*.local

# Front dependencies
front/node_modules
front/.pnp
front/.pnp.*
front/bun.lock.bak
front/server/node_modules

# Front build
front/.next/
front/out/
front/build/
front/dist/
front/.env

# Yarn workspace files
front/.yarn/*
front/!.yarn/patches
front/!.yarn/plugins
front/!.yarn/releases
front/!.yarn/versions

# Testing & coverage
front/coverage

# Logs
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/.pnpm-debug.log*
*.log

# OS
front/.DS_Store
.DS_Store
front/*.pem

# IDE
.vscode
.idea
*.swp
*.swo

# Vercel
front/.vercel

# TypeScript
front/*.tsbuildinfo
front/next-env.d.ts
front/tsconfig.tsbuildinfo


# Docker volumes
postgres_data/

# Turbo
.turbo
.turborepo
