# ========================
# Environment Files
# ========================
.env
.env.local
.env.*.local

# ========================
# Frontend (Next.js)
# ========================
front/node_modules
front/server/node_modules
front/.pnp
front/.pnp.*
front/bun.lock.bak
front/bun.lock
front/package-lock.json
front/.next/
front/out/
front/build/
front/dist/
front/.env
front/.vercel
front/*.pem
front/*.tsbuildinfo
front/next-env.d.ts
front/tsconfig.tsbuildinfo

# ========================
# Backend / Game Server
# ========================
server/node_modules
server/.pnp
server/.pnp.*
server/bun.lock.bak
server/bun.lock
server/package-lock.json
server/dist/

# ========================
# Database
# ========================
postgres_data/

# ========================
# Shared
# ========================
secret
.TODO

# ========================
# Build Tools
# ========================
.turbo
.turborepo

# ========================
# IDE
# ========================
.vscode
.idea
*.swp
*.swo

# ========================
# OS
# ========================
.DS_Store
front/.DS_Store
node_modules
